.body {
  /* position: absolute; */
  /* height: 100%;  */
  /* width: 100%; */
  /* margin: 0 auto; */
  /* background-color: #111723; */
}
.app {
  position: relative;
  background-color: #111723;
  height: 100vh;
  display: flex;
  flex-direction: column;

}
.content {
  display: flex;
  justify-content: center;
}

