.signInForm {
  border: 1px solid #37496d;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 40px auto;
  padding: 30px 20px;
  border-radius: 5px;
}
.formTile {
  /* text-align: center; */
  margin: 10px auto 35px auto;
}
.btn {
  cursor: pointer;
  border: none;
  color: rgb(231, 231, 231);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
input {
  background-color: #1f283f;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #f3f3f3;
  margin-bottom: 20px;
}
input[name="confirm-pwd"] {
  margin-bottom: 35px;
}
.btnSubmit {
  background-color: #56407a;
  margin-bottom: 20px;
  font-size: 18px;
}

.btnSubmit:hover {
	background:linear-gradient(to bottom, #775f9e 5%, #573c81 100%);
}

.btnLogin {
  background-color: #40527c;
  font-size: 18px;
}

.btnLogin:hover {
	background:linear-gradient(to bottom, #6376a1 5%, #445d96 100%);
}
